body {
  margin: 0;
  font-family: "Bubblegum Sans, cursive";
}

.game-canvas {
  display: block;
  height: 100%;
  width: 100%;
}

.emoji-picker-react {
  position: absolute !important;
  z-index: 1;
  right: 12%;
}
