body {
  margin: 0;
  font-family: "Bubblegum Sans, cursive";
}

.game-canvas {
  display: block;
  height: 100%;
  width: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: 2px solid #000;
  padding: 16px;
}
